<h2>Add Post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" >
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
            class="form-control"
            id="title"
            name = "title"
            required
            [(ngModel)] = "post.title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text"
            class="form-control"
            id="body"
            name = "body"
            required
            [(ngModel)] = "post.body">      
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text"
            class="form-control"
            id="author"
            name = "author"
            [(ngModel)] = "post.author">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>