<span *ngIf = "!isEdit"> Title:{{post.title}}, 
    Body: {{post.body}}, 
    Author: {{post.author}}</span>
<span *ngIf = "isEdit">
     Title: <input type = "text" [(ngModel)] = "post.title">
     Body: <input type = "text" [(ngModel)] = "post.body">
     Author: <input type = "text" [(ngModel)] = "post.author">
</span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>