
<span *ngIf = "!isEdit"> Name: {{product.pname}}, ID: {{product.pid}}, Cost: {{product.cost}}, Category: </span>
<span *ngIf = "isEdit">
     Name: <input type = "text" [(ngModel)] = "product.pname">
     ID: <input type = "text" [(ngModel)] = "product.pid">
     Cost: <input type = "text" [(ngModel)] = "product.cost">
     Category: <input type = "text" [(ngModel)] = "product.categoryId">
</span>
<button (click) = "sendDelete()" >Delete</button>

